
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="~/Games">Games</a></li>
    <li class="breadcrumb-item"><a href="~/Movies">Movies</a></li>
    <li class="breadcrumb-item"><a href="~/Music">Music</a></li>
</ol>

<h2>Games</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>Dragonball Fighterz</h2>
            <p>Genre: Fighting</p>
            <p>Platforms: Xbox One, Playstation 4, Microsoft Windows</p>
            <p>Rating: T for Teen</p>
            <p>Release Date: January 26, 2018</p>
            <p>
                Review: Dragonball Fighterz is the latest fighting game based on the Dragonball series. It boasts a decent roster
                that includes characters from Dragonball Z and the recent, Dragonball Super. FighterZ uses a 2.5D fighting system reminiscient
                of the Marvel VS. Capcom game series.
            </p>
        </div>
        <div class="col-md-4">
            <img class="coverArt" src="~/Content/Images/DBZFighterz.jpg" />
        </div>

    </div>

</div>

