
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="~/Games">Games</a></li>
    <li class="breadcrumb-item"><a href="~/Movies">Movies</a></li>
    <li class="breadcrumb-item"><a href="~/Music">Music</a></li>
</ol>

<h2>Music</h2>

<div class="jumbotron" style="text-align:center">
     <h1>Content Coming Soon</h1>           
</div>