
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="~/Games">Games</a></li>
    <li class="breadcrumb-item"><a href="~/Movies">Movies</a></li>
    <li class="breadcrumb-item"><a href="~/Music">Music</a></li>
</ol>

<h2>Movies</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>Black Panther</h2>
            <p>Genre: Action</p>
            <p>Director: Ryan Coogler</p>
            <p>Rating: PG-13</p>
            <p>Release Date: February 16, 2018</p>
            <p>
                Review: Black Panther is the latest Marvel superhero to receive his own film...and it DELIVERS!!! Black Panther 
                is one of the greatest films in the Marvel Cinematic Universe and just a great film period. Chadwick Boseman is the 
                main character of the film as T'Challa/Black Panther. However, the villain, Killmonger (played by Michael B. Jordan),
                steals the show with some of the most powerful lines in a Marvel film. Great action, an engaging plot, and an amazing
                supporting cast will have audiences wanting to see more of the King of Wakanda and looking forward to the next film in 
                the MCU, Avengers: Infinity War.
            </p>
        </div>
        <div class="col-md-4">
            <img class="bpcoverArt" src="~/Content/Images/BP.jpg" />
        </div>

    </div>

</div>
